# Secrets / environment
.env
.env.*
!.env.example

# Composer
/vendor/

# Node
/node_modules/

# Laravel compiled files
/bootstrap/cache/
/public/hot
/public/build
/storage/*.key
*.log

# OS
.DS_Store
Thumbs.db
